//
   Created by mauro on 01/05/16.

extends ../layout
block content
   h1.
      Infophoto #{user._id}
   p Name: #{user.name}
   p Badge: #{user.badge}
   p DOB: #{userdob}
   p Is Loved: #{user.isloved}